* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    overflow: hidden;
    background-color: lightgrey;
}

.tilted {
    height: 100vh;
    width: 130vw;
    transform: skewY(10deg);
    background: linear-gradient(to right, #b92b27, #1565c0);
    box-shadow: 0px 0px 10px black;
}

.main {
    display: flex;
    height: 75%;
    width: 85%;
    padding: 2%;
    position: absolute;
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
    box-shadow: 0px 0px 10px black;
}

.content {
    width: 45%;
    color: white;
    font-size: large;
    line-height: 20px;
    margin-top: 15px;
}

img {
    position: absolute;
    width: 33%;
    top: -40px;
    right: -30px;
    transform: scaleX(1.4);
}

img:hover {
    width: 65%;
    transform: scaleX(1);
}
